body {
  background-color: white;
  font-size:11px;
  margin-left: 20px;
  margin-right: 20px;
}

.center {
    margin-left:30%;
    margin-right:30%;
    width:40%;
}

.highlight { background-color: yellow }
